@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #FFFF00;

  /* Default font */
  --font-inter:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}
.button{
  cursor:pointer;
}

/* Global defaults */
:root {
  @apply font-inter
  bg-[#fffaf6]
}

/* Default h1 */
.side-heading{
  @apply flex justify-between
}
.nav-bar{
  @apply sticky top-0 left-0 right-0 z-10
  bg-amber-400 
  p-1.5 md:p-3
  flex items-center
  gap-1 md:gap-3
  h-16
}
.nav-bar-left{
  @apply flex items-center
  w-fit
  p-1
  shrink-0
}
.nav-bar-left img{
  @apply w-8 md:w-8 
  h-8 md:h-9

}
.nav-bar-search{
  @apply flex-1 flex justify-center
}
.nav-bar-search h1{
  @apply font-extrabold
  text-5xl
  tracking-[15px]
}
.nav-bar-right{
  @apply flex items-center justify-end
  gap-2 md:gap-4
  w-fit
  shrink-0;
}
.side-bar{
  @apply fixed left-0 top-0 z-20 w-48 md:w-72 h-screen
  bg-blue-950 text-white p-3 
  transform transition-transform duration-300 ease-in-out
}
.side-bar-overlay{
  @apply fixed inset-0 z-10 bg-black/30 
  transition-opacity duration-300
}

.button{
  @apply flex 
  gap-2 
  items-center justify-center
  w-fit
  h-fit 
  p-1 md:p-1.5 
  text-[12px] md:text-sm 
  rounded-lg
  /* bg-white md:bg-transparent */
  text-black
  /* hover:bg-white hover:text-black */
  transition-colors duration-300 ease-in-out
}
.button.primary
{
  @apply 
  bg-slate-900 hover:bg-slate-700
  text-white
}
.button.danger{
  @apply bg-red-100 text-red-700
}
.button.secondary{
  @apply 
  bg-slate-200 hover:bg-slate-500 text-black
}
.disabled{
  @apply bg-slate-500 text-black
}
.submitbtn{
  @apply w-full py-3
}
.search{
  @apply 
  w-full md:w-111
  flex items-center 
  bg-white 
  rounded-xl 
  px-3 py-2 md:py-1
  gap-3 ring-2
}
.search input{
  @apply 
  text-[11px] md:text-sm
  border-0 
  px-4 
  bg-transparent 
  outline-0 
  py-0.5 md:py-1.5 
  w-full
}
.content{
  @apply w-screen min-h-[calc(100vh-4rem)] 
  flex
}
.auth-page{
  @apply w-full
  flex-1 
  grid
  place-items-center
  p-6
}
.auth-card{
  @apply 
  min-w-0
  w-full
  max-w-117.5
  bg-slate-100
  border border-slate-500
  rounded-xl
  p-8
}
.auth-card.wide{
  @apply max-w-175
}
.head h1 , .head p{
  @apply 
  text-center
}
.form{
  @apply grid gap-4
}
.grid-2{
  @apply grid-cols-2
}
.grid-span-2{
  @apply col-span-2
}
.form label{
  @apply grid
  gap-2 font-bold
}
.label-e{
  @apply flex justify-between
}
.form input{
  @apply w-full
  px-3 py-3
  bg-white
  outline-none
  rounded-xl
  ring-1
  focus:ring-2 focus:ring-black
}


.hero{
  @apply max-w-295 
  mx-auto
  pt-5
  px-5.5
  pb-16.25
  grid
  grid-cols-[1.25fr_0.75fr]
  gap-10
  items-center
}
.eyebrow{
  @apply text-[12px]
  tracking-[2px]
  font-extrabold
}
.hero h1{
  @apply text-[62px]
  leading-[1.02]
  tracking-[-3px]
  my-3.5
}
.hero h1 em{
  @apply not-italic 
}
.hero p{
  @apply text-[18px]
  leading-[1.7]
  max-w-152.5
}
.hero-actions{
  @apply flex gap-3 
  mt-4.5

}
.hero-art{
  @apply h-90 
  rounded-3xl
  bg-amber-200
  text-orange-500
  grid
  place-items-center
  relative
}
.hero-art span{
  @apply absolute
  text-[48px]
}
.hero-art span:nth-child(2){
  @apply left-11
  top-11
}
.hero-art span:nth-child(3){
  @apply bottom-11.25
}
.hero-art span:nth-child(4){
  @apply top-25
  right-11
}
.hero-search{
  @apply 
  flex
  items-center
  gap-3
}
.hero-search a{
  @apply 
  text-white
  bg-black
  px-4.5
  py-3
  rounded-lg
  font-bold
}

.section{
  @apply max-w-295 md:min-w-295
  mx-auto
  px-5.5
  py-13.5
}

.section-heading{
  @apply flex
  items-end
  justify-between
  gap-5
  mb-6.25
}
.section-heading h1,
.section-heading h2,
.section > h1{
  @apply my-1.75 
  tracking-normal
  text-3xl
  font-bold
}
.section-heading >a{
  @apply flex
  items-center
  gap-1
  font-[750]
}
.outlet-grid{
  @apply mt-4
  grid
  grid-cols-4
  gap-4
}
.outlet-card{
  @apply
  bg-white
  border
  border-black
  rounded-2xl
  overflow-hidden
  transition-all
  duration-200
}
.outlet-card:hover{
  @apply -translate-y-1
}
.outlet-card >img, .image-placeholder{
  @apply w-full
  h-42.5
  object-cover
}
.image-placeholder,
.food-placeholder,
.detail-placeholder{
  @apply grid
  place-items-center
  bg-white
  text-[50px]
}
.card-body{
  @apply p-3.75
}
.card-body h3{
  @apply m-0 text-[17px]
}
.card-body p{
  @apply text-[13px]
  leading-normal
  min-h-9.5 
}
.card-body small{
  @apply flex 
  items-center
  gap-3.75
  text-[80756d]
}
.row-between{
  @apply 
  flex
  items-center
  justify-between
  gap-2.5
}
.rating{
  @apply
  flex
  items-center
  gap-0.5
  text-[12px]
  font-extrabold
}
.loader-wrap{
  @apply min-h-65
  w-full
  grid
  place-items-center
  content-center
  gap-3
  text-[#766d67]
}
.spinner{
  @apply w-7 h-7
  border-[3px]
  border-[#f2dcd0]
  border-t-[#ff6b35]
  rounded-full
  animate-spin
}

/* OUTLET-DETAILS */
.back-link{
  @apply inline-flex
  items-center
  gap-1.5
  font-bold
  text-[#ff6b35]
}
.outlet-detail{
  @apply mt-7
  bg-white
  border
  border-slate-900
  rounded-2xl
  p-5
  grid
  grid-cols-2
  gap-8
  items-center
}
.outlet-detail img,.detail-placeholder{
  @apply w-full
  h-90 
  rounded-2xl
  object-cover
}
.outlet-detail h1{
  @apply text-2xl
  tracking-[-2px]
  my-2
}
.outlet-detail p{
  @apply
  text-slate-800
  leading-[1.7]
}
.detail-meta{
  @apply flex
  flex-wrap
  my-5
  gap-2
  text-slate-700
}
.detail-meta span{
  @apply flex items-center
  gap-0.5
}

/* MENUITEM-CARD */
.menuItem-card{
  @apply 
  grid
  grid-cols-[1fr_120px]
  gap-4
  bg-white
  border
  border-[#eee4dc]
  rounded-xl
  p-3.5
}
.menuItem-card h3{
  @apply my-0.75
  mb-1.75
  font-bold
}
.menuItem-card p{
  @apply text-slate-600
  text-[13px]
  py-3
}
.menuItem-card img,
.food-placeholder{
  @apply
  w-30
  h-30
  rounded-2xl
  object-cover
}
.menuItem-grid{
  @apply
  grid
  grid-cols-2
  gap-4
}

.add-btn{
  @apply inline-flex
  items-center
  border
  border-orange-500
  bg-white
  text-orange-700
  rounded-xl
  px-3
  py-2
  font-extrabold
  cursor-pointer
}
.empty-state{
  @apply 
  text-center
  px-5
  py-11 
  text-slate-600
}
.empty-state h3{
  @apply text-slate-500
  mb-1.25
}

/* NOTFOUND */
.not-found{
  @apply 
  text-[100px]
  font-black
  text-[#ff6b35]
  tracking-[-8px]
}
.center{
  @apply text-center
}
.cart-link{
  @apply  relative
  flex
  items-center
  gap-1.5
}
.cart-link b{
  @apply
  w-4.5
  h-4.5
  rounded-full
  text-white
  bg-black
  text-[11px]
  leading-4.5
  text-center
}
.empty-icon{
  @apply grid
  place-items-center
  mx-0
  mt-12.5
  text-[#ff6b35]
}
.cart-layout{
  @apply 
  grid
  grid-cols-[1.9fr_0.7fr]
  gap-6.25 
}
.cart-item{
  @apply grid
  grid-cols-[1fr_auto_auto_auto]
  gap-5
  items-center
  bg-white
  border
  border-slate-700
  rounded-xl
  mb-2.5  
  p-4
}
.cart-item h3{
  @apply m-0
  mb-1
}
.cart-item p{
  @apply m-0
  text-slate-700
}
.quantity{
  @apply flex 
  items-center
  gap-3 
}
.quantity button,
.icon-btn{
  @apply border
  border-slate-400
  bg-white
  rounded-lg
  w-7.5
  h-7.5
  grid
  place-items-center
  cursor-pointer
}
.danger{
  @apply text-red-700
}
.summary{
  @apply
  bg-white
  border
  border-slate-200
  rounded-2xl
  p-5
  h-max
}
.summary h2{
  @apply mt-0 
  font-extrabold
  text-[23px]
}
.summary >div{
  @apply flex
  justify-between
  py-2.25
  text-slate-800 
}
.summary hr{
  @apply border-0
  border-t
  border-slate-500
}
.summary .total{
  @apply text-[19px]
  text-slate-700
}
.full{
  @apply w-full 
}
.button.primary .link{
  @apply flex 
  items-center
  gap-4
}

/* PROFILE STYLES */
.address-card,
.profile-card{
  @apply bg-white
  border
  border-[#eee4dc]
  rounded-2xl
  p-5
  my-3
}
.profile-card{
  @apply flex
  items-center
  gap-4
}
.avatar{
  @apply w-20
  h-20
  rounded-full
  bg-[#ffe1d2]
  text-[#ff6b35]
  grid
  place-items-center
  text-[22px]
  font-black
}

.profile-card >div:nth-child(2){
  @apply flex-1
}
.profile-card h2{
  @apply m-0
}
.profile-card p{
  @apply my-1 
  text-slate-500
}
.profile-links{
  @apply 
  bg-white
  border
  border-[#eee4dc]
  rounded-2xl
  overflow-hidden
}
.profile-links a{
  @apply flex
  items-center
  gap-3
  p-4.5
  border-b
  border-orange-100
}
.profile-links a:last-child{
  @apply border-0
}
.profile-links svg:last-child{
  @apply ml-auto
}

/* ADDRESS -CARD */
.address-card p{
  @apply text-slate-700
}
.address-person{
  @apply flex justify-start gap-4
}
.default-badge{
  @apply bg-green-400
  px-2 py-1 
  rounded-2xl

}